config_opts['root'] = 'centos-7-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install shadow-utils rpm-build gcc gcc-c++ make vim python python-devel'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst
config_opts['releasever'] = '7'

config_opts['yum.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
mdpolicy=group:primary
best=1

# repos
[base]
name=centos 7 x86_64 - base
baseurl='file:///home/jasonwucj/Works/EasyStack_escore-build_development/escore-build.try/build_repo'
enabled=1
gpgcheck=0
cost=2000
includepkgs=*.x86_64 *.noarch glibc.i686 glibc-devel.i686 nss-softokn-freebl*.i686
"""
